
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>{{ question.questionText }}<br><small>{{ question.user.username }} on {{ question.created | date:"MM/dd/yyyy 'at' h:mma" }}</small></h3>
            <br><span class="h4"> {{ answersSize }} answers:</span><hr>
            <form>
                <textarea class="form-control" rows="3" placeholder="Type your answer here" ng-model="answerTextarea"></textarea>
                <input type="submit" class="btn btn-info btn-sm" value="Answer" ng-click="enterAnswer()">
            </form>
            <hr>

            <ul class="list-unstyled" ng-repeat="answer in answers">
                <li>
                    <div>
                        <b>{{ answer.user.username }} on {{ answer.created | date:"MM/dd/yyyy 'at' h:mma" }} | Likes: {{ answer.likes }}</b> <br>

                        {{ answer.answerText }}<br>
                    </div><hr>
                </li>
            </ul>

            <div>
                {{ error }}
            </div>
        </div>
        <div class="col-sm-4">
            (AD)<br>
            Related Questions
        </div>
    </div>

</div>

